
/* 
    Created on : 22 févr. 2022, 15:47:33
    Author     : Manon
*/

body {
    background: linear-gradient(270deg, #db9e38, #a9b665, #b67865);
    background-size: 600% 600%;

    animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.options{
    padding-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    background: radial-gradient(circle, rgba(238,228,233,1) 0%, rgba(209,220,232,1) 100%);
    width: 70%;
    padding: 50px;
    border-radius: 25px;
}
.optionredirect{
    text-align: center;
    font-size: 28px;
    font-family: Verdana;
}
.titreoption{
    font-weight: bold;
    font-size: 36px;
    color: #0f0f57;
    padding-top: 0px;
    font-family: Verdana;
    
}

.scoredisplay{
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    color: #cccc00;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    
}

.img_container{
    display: inline-block;
    padding-right: 60px;
    
}
img{
    float: left;
    width:120px;
    height: 110px;
    border: 5px solid #555;
}
.titreopt{
    font-weight: bold;
    font-size: 30px;
    color:#191970;
    font-family: Verdana;
}
hr {
    width: 90%;
    margin: auto;
}

