
/* 
    Created on : 09-nov.-2021, 13:16:41
    Author     : Manon Michaux
*/

body {
    margin: 0;
    width: auto;
    height: auto;
    background: linear-gradient(350deg, #4e3b0b, #8e8119, #38457a, #7d2e1c);
    background-size: 800% 800%;

    animation: AnimationName 31s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:77% 0%}
    50%{background-position:24% 100%}
    100%{background-position:77% 0%}

}


h1{
    color: #ccccff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
}

.displayansw{
    color: #ccccff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
}
.imagescotn{
    display: inline-block;
}
.imgcontainer img {
    
    width:  90px;
    height: 90px;
    object-fit: cover;
    
}​
.imgA,.textlegendA{
    float: left;
    color: #ccccff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
}

.imgB,.textlegendB{
    float: right;
    color: #ccccff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 27px;
    font-weight: bold;
    margin-right: 10px;
}

#preview{
    width: 100px;
    height: 100px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}