
/* 
    Created on : 10 févr. 2022, 17:31:44
    Author     : Manon
*/


body {
    background: linear-gradient(227deg, #ca9b26, #6c78dd, #a8601a);
    background-size: 600% 600%;

    animation: Backgroundanimation 32s ease infinite;
}

@keyframes Backgroundanimation {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
}

.formwrapper{
    
    top:50%;
    
}

.registerform{
    
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 650px;
    margin: 30px auto;
    background: rgba(179, 179, 204, 0.5);
    border-radius: 10px;
    
}

.form-header {
    background-color:rgb(204, 204, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-header h1 {
    font-size: 30px;
    text-align: left;
    color: rgb(78, 78, 50);
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    margin-left: auto;
    margin-right:auto;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/

.form-body {
    padding: 10px 40px;
    color: #666;
}

.form-body .label-title {
    color: rgb(57, 39, 19);
    font-size: 17px;
    font-weight: bold;
    margin-left: auto;
    margin-right:auto;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    height: 34px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: rgb(133, 173, 173);
    outline: none;
}

/*---------------------------------------*/
/* Form Footer */
/*---------------------------------------*/

.form-footer{
    background-color: rgb(204, 204, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 40px;
    border-top: 1px solid #cccccc;
    margin-left: auto;
    margin-right:auto;
    
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1bba93;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right:auto;
}

.btn:hover {
    background-color: #169c7b;
    color: white;
}

.noaccount {
    line-height: 1.8;
    margin-left: auto;
    margin-right:auto;
}