
/* 
    Created on : 1 déc. 2021, 15:09:57
    Author     : Manon Michaux
*/

body{
    
    background: linear-gradient(270deg, #43414b, #615037);
    background-size: 400% 400%;

    animation: AnimationName 30s ease infinite;
    
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.displayansw{
    color: #ccccff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    text-align: center;
    font-size: 37px;
    font-family: Verdana;
    margin-left: 40px;
    float: left;
    
    display: none;
}

.webcontainer{
    border-radius: 25px; 
    margin: auto;
    background: rgb(227,232,181);
    background: radial-gradient(circle, rgba(227,232,181,1) 0%, rgba(238,212,154,1) 23%, rgba(149,204,212,1) 100%);
    overflow: hidden; 
}
.webcam_output{
    width: 45%;
    height:50%;
}
.scoreblock{
    position: relative;
    float:right;
    font-size: 32px;
    color: #ffccff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-family: Verdana;
}

.question{
    float:left;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    position: absolute;
    font-size: 30px;
    color:#e0e0d1;
    padding-bottom: 30px;
    line-height: 30px;
    font-family: Verdana;
}
hr{
    width: 95%;
    
}

/* Clear floats after the columns */
.answercontainer {
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 2px;
}

/* Create four equal columns that floats next to each other */
.answers {
    background: rgb(250,205,215);
    background: linear-gradient(174deg, rgba(250,205,215,0.5606617647058824) 0%, rgba(193,241,240,0.5914740896358543) 79%, rgba(233,255,215,0.43461134453781514) 100%);
  
}
.answers h2{
    font-size: 30px;
    
    
}
.answerA{
    position: absolute;
    left: 120px;
    top: 0px;
    width: 180px;
    height: 180px;
    font-size: 23px;
    font-family: Verdana;
}
.answerB{
    position: absolute;
    left: 360px;
    top: 0px;
    width: 180px;
    height: 180px;
    font-size: 23px;
    font-family: Verdana;
}
.answerC{
    position: absolute;
    right: 360px;
    top: 0px;
    width: 180px;
    height: 180px;
    font-size: 23px;
    font-family: Verdana;
}

.answerD{
    position: absolute;
    right: 120px;
    top: 0px;
    width: 180px;
    height: 180px;
    font-size: 23px;
    font-family: Verdana;
}