
/* 
    Created on : 28-nov.-2021, 17:36:18
    Author     : Manon Michaux
*/

body {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    overflow: hidden; 
}
.options{
    
    display: inline-block;
    background: linear-gradient(270deg, #a2d7ca, #d2b0df, #8567a7);
    animation: optionbackground 30s ease infinite;
    border-radius: 25px;
    padding: 80px 200px;
}


@keyframes optionbackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.titreoption{
    font-weight: bold;
    font-size: 46px;
    color: #0f0f57;
    padding-top: 0px;
    font-family: Verdana;
    
}

.options form{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background: rgb(238,228,233);
    background: radial-gradient(circle, rgba(238,228,233,1) 0%, rgba(209,220,232,1) 100%);

    border-radius: 25px;
    
}

.titrechoix{
    display: inline-block;
    color: #483D8B;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    font-family: Verdana;
    padding-top: 15px;
    padding-bottom: 30px;
}
.titreopt{
    float:left;
    font-size: 28px;
    color:#191970;
    padding-top: 0px;
    padding-left: 31px;
    padding-right: 90px;
    font-family: Verdana;
}
.img_container{
    display: flex;
    float: left;
}
img{
    width:125px;
    padding-left: 30px;
    padding-right:60px;
}
